TOKEN=your-telegram-bot-token
CACHE_CHAT_ID=your-cache-chat-id

DB_CONNECTION_STRING=mongodb://dev-mongo:27017/media-downloader

COBALT_API_URL=http://127.0.0.1:9000
COBALT_AZURE_FUNCTION_KEY=
COBALT_API_KEY=optional-secret-api-key

FFMPEG_PATH=ffmpeg
