TOKEN=your-telegram-bot-token
CACHE_CHAT_ID=your-cache-chat-id

DB_CONNECTION_STRING=mongodb://dev-mongo:27017/media-downloader

MEDIA_API_URL=https://your-function-app.azurewebsites.net/api/media
MEDIA_AZURE_FUNCTION_KEY=

FFMPEG_PATH=ffmpeg
