[Unit]
Description=Ultimate Media Manager SearXNG service

[Service]
Restart=always

[Container]
ContainerName=ultimate-media-manager-searxng
Image=docker.io/searxng/searxng:latest
Pod=ultimate-media-manager.pod
EnvironmentFile=.env
Environment=SEARXNG_BASE_URL=http://127.0.0.1:8080/
Volume=./searxng-settings.yml:/etc/searxng/settings.yml:Z
Volume=ultimate-media-manager-searxng-data.volume:/var/cache/searxng
