[Unit]
Description=Ultimate Media Manager app
Requires=ultimate-media-manager-cobalt.container
Requires=ultimate-media-manager-searxng.container
After=ultimate-media-manager-cobalt.container
After=ultimate-media-manager-searxng.container

[Service]
Restart=always

[Container]
ContainerName=ultimate-media-manager-app
Image=localhost/ultimate-media-manager:latest
Pod=ultimate-media-manager.pod
EnvironmentFile=.env
Environment=COBALT_API_URL=http://127.0.0.1:9000
Environment=SEARXNG_API_URL=http://127.0.0.1:8080

[Install]
WantedBy=default.target
