[Unit]
Description=Ultimate Media Manager cobalt service

[Service]
Restart=always

[Container]
ContainerName=ultimate-media-manager-cobalt
Image=ghcr.io/imputnet/cobalt:11
Pod=ultimate-media-manager.pod
ReadOnly=true
Environment=API_URL=http://127.0.0.1:9000/
